{% extends "base.html" %}
{% load static %}
{% block content %}
<section class="bg-light bg-gradient">
<h1 class="mx-auto m-2 text-white fw-bold bg-info w-75" style="padding-left:230px">Welcome to Movie Mania</h1>
  <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner" style="height:500px">
      <div class="carousel-item active img-fluid">
        <img src="{% static "images/Jujutsu.jpg" %}" class="d-block w-75 mx-auto" alt="...">
      </div>
      <div class="carousel-item">
        <img src="{% static "images/Gladiator_2000_film_poster.png" %}" class="d-block w-75 mx-auto" alt="...">
      </div>
      <div class="carousel-item">
        <img src="{% static "images/Jujutsu.jpg" %}" class="d-block w-75 mx-auto img-fluid" alt="...">
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
</section>
{% endblock content %}